{"filter":false,"title":".gitignore","tooltip":"/airstyle/storage/logs/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1587556585037,"hash":"886e6d00ac28a586434ae1b6320c0bb185e3ddfc"}